@font-face {
    font-family: Ubuntu;
    src: url(./assets/fonts/Ubuntu-Regular.ttf);
    font-weight: normal;
}
@font-face {
    font-family: Ubuntu;
    src: url(./assets/fonts/Ubuntu-Medium.ttf);
    font-weight: medium;
}
@font-face {
    font-family: Ubuntu;
    src: url(./assets/fonts/Ubuntu-Bold.ttf);
    font-weight: bold;
}
:root{
    --mobile-image-width: 375px;
    --mobile-image-height: 172px;
    --mobile-sidebar-circle-size: 40px;
    --desktop-image-width: 274px;
    --desktop-image-height: 568px;
    --desktop-sidebar-circle-size: 40px;
    /* ## Colors */
    --Marine-blue: hsl(213, 96%, 18%);
    --Purplish-blue: hsl(243, 100%, 62%);
    --Pastel-blue: hsl(228, 100%, 84%);
    --Light-blue: hsl(206, 94%, 87%);
    --Strawberry-red: hsl(354, 84%, 57%);

    --Cool-gray: hsl(231, 11%, 63%);
    --Light-gray: hsl(229, 24%, 87%);
    --Magnolia: hsl(217, 100%, 97%);
    --Alabaster: hsl(231, 100%, 99%);
    --White: hsl(0, 0%, 100%);

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Ubuntu, sans-serif;
    width: 100%;
    position: relative;
    font-size: 16px;
}
.multi-form{
    margin: 0 auto;
    max-width: var(--mobile-image-width);
    background-image: url(./assets/images/bg-sidebar-mobile.svg);
    background-repeat: no-repeat;
    background-color: var(--Magnolia);

    overflow: hidden;
}
.all-forms{
    display: flex;
    flex-direction: row;
    z-index: 0;
}
form{
    min-width: 100%;
}
.inputs {
    height: 80%;
    width: calc(100% - 2rem);
    position: relative;
    margin: 0 1rem;
    padding: 2rem 1.5rem 1.5rem 1.5rem;
    border-radius: 10px;
    background-color: var(--White);
    overflow: hidden;
}
.inputs  > *:not(label, .order-summary){
    padding: 0 0 1rem 0;
}
.inputs h2:not(#Step4 h2){
    color: var(--Marine-blue);
    font-weight: bold;
    font-size: 28px;
}
.inputs > p:not(#Step4 p) {
    color: var(--Cool-gray);
    font-size: 18px;
    line-height: 1.75rem;
    font-weight: normal;
}
label:not(.time-plan label) {
    color: var(--Marine-blue);
    display: block;
    padding-bottom: 0.2rem;
    margin: 0;
    font-size: 15px;
}
input:not([type=submit], [name="time-plan"]){
    margin-bottom: 1rem;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 2px;
    box-shadow: 0 0 0 1px var(--Cool-gray);
    padding: 0.75rem 1rem !important;
    color: var(--Marine-blue);
    font-weight: bold  ;
    
}
input::placeholder{
    color: var(--Cool-gray);
    font-weight: bold;
    font-size: 16px;
}
.sidebar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    padding: 2rem 0 1.75rem 0;
}
.step-name {
    display: none;
    text-transform: uppercase;
    color: var(--White);
    font-weight: normal;
}
.step-name > p{
    color: var(--Cool-gray);
    line-height: 1.2rem;
}
.step-number{
    width: var(--mobile-sidebar-circle-size);
    height: var(--mobile-sidebar-circle-size);
    box-shadow: 0 0 0 1.5px var(--White);
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    line-height: var(--mobile-sidebar-circle-size);
    font-weight: normal;
    color: var(--White);
}
.step-number.active{
    font-weight: bold;
    color: var(--Marine-blue);
    background-color: var(--Light-blue);
    box-shadow: 0 0 0 0;
}
.navigation{
    position: relative;
    width: 100%;
    background-color: var(--White);
    display: flex;
    flex-direction: row;
    margin: 1rem 0;
    padding: 1rem;
}
.navigation input[value="Next Step"]{
    padding: 1rem 2rem;
    border: none;
    border-radius: 10px;
    color: var(--Magnolia);
    background-color: var(--Marine-blue);
    font-size: 16px;
    position: relative;
    margin: 0 0 0 auto;
}
.navigation input[value="Confirm"]{
    padding: 1rem 2rem;
    border: none;
    border-radius: 10px;
    color: var(--Magnolia);
    background-color: var(--Marine-blue);
    font-size: 16px;
    position: relative;
    margin: 0 0 0 auto;
}
.navigation input[value="Go Back"]{
    padding: 1rem 2rem;
    border: none;
    border-radius: 10px;
    color: var(--Cool-gray);
    background-color: transparent;
    font-size: 16px;
    position: relative;
    margin: 0 auto 0 0;
}
.navigation input:hover{
    filter: brightness(150%);
    cursor: pointer;
}
#Step2 input[type="radio"]:not(input[name="time-plan"], input[name="service"]) {
    display: none;
}
#Step2 .inputs {
    display: grid;
    grid-template-areas: 
    "a"
    "b"
    "c"
    "d"
    "e"
    "f"
    "g";
    grid-template-rows: min-content min-content;
    column-gap: 1rem;
    row-gap: 1rem;
}
#Step2 .inputs h2{
    grid-area: a;
}
#Step2 .inputs p{
    grid-area: b;
}
#Step2 .time-plan{
    grid-area: f;
}
#Step2 .inputs label:not(.time-plan label){
    max-width: calc(100%);
    box-shadow: 0 0 0 1px var(--Light-gray);
    border-radius: 10px;
    padding: 1rem;
    display: grid;
    grid-template-areas: 
    "a b"
    "a c"
    "a d";
    grid-template-columns: min-content;
    column-gap: 1rem;
    position: relative;
}
#Step2 .inputs label img {
    grid-area: a;
}
#Step2 .inputs label h3 {
    grid-area: b;
}
#Step2 .inputs label .rate {
    grid-area: c;
}
#Step2 .inputs label .promo{
    grid-area: d;
    color: var(--Marine-blue);
    font-size: 15px;
}
#Step2 .inputs label:nth-of-type(1){
    grid-area: c;
}
#Step2 .inputs label:nth-of-type(2){
    grid-area: d;
}
#Step2 .inputs label:nth-of-type(3){
    grid-area: e;
}
#Step2 .inputs label:hover:not(.time-plan label){
    cursor: pointer;
    box-shadow: 0 0 0 1px var(--Purplish-blue);
}
.time-plan, .time-plan label{
    cursor: pointer;
}
#Step2 .inputs input[type='radio']:checked:not(input[name="time-plan"] , input[name="service"]) + label{
    box-shadow: 0 0 0 1px var(--Purplish-blue);
    background-color: var(--Alabaster);
}
#Step3 label {
    display: grid;
    grid-template-areas: 
    "a b c"
    "a d c";
    grid-template-columns: min-content;
    row-gap: 0.2rem;
    column-gap: 0.2rem;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    padding: 1rem 0.5rem;
    margin-bottom: 1rem;
}
#Step3 label:not(.active-service) {
    box-shadow: 0 0 0 1px var(--Cool-gray);
}
.active-service{
    box-shadow: 0 0 0 1px var(--Purplish-blue);
    background-color: var(--Alabaster);
}
#Step3 label input {
    grid-area: a;
    outline: 0;
    box-shadow: none ;
    appearance: none;
    border: none;
    border-radius: 5px;
    margin-right: 0.75rem;
    justify-self: center;
}
#Step3 label input::after{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    content: "";
    font-size: 1.4em;
    height: 1.5rem;
    width: 1.5rem;
    left: 1rem;
    border-radius: 5px;
    background-color: transparent;
    color: var(--White);
    box-shadow: 0 0 0 1px var(--Cool-gray);
}
#Step3 label input:checked::after{
    content: "\2713";
    background-color: var(--Purplish-blue);
}
#Step3 label input[type="checkbox"]:focus{
    outline:0;
}
#Step3 label h3 {
    grid-area: b;
    font-size: 15px;
}
#Step3 label .add-gain{
    grid-area: c;
    color: var(--Purplish-blue);
    position: relative;
    top: 50%;
    transform: translateY(-25%);
    font-size: 13px;
    justify-self: end;
    align-self: top;
}
#Step3 label .add-desc{
    grid-area: d;
    font-size: 13px;
}
#Step4 .order-summary{
    width: 100%;
    background-color: var(--Magnolia);
    border-radius: 10px;
    padding: 1rem !important;
}
#Step4 .plan-Summary {
    border-bottom: solid 1px var(--Light-gray);
    padding-bottom: 1rem;
    color: var(--Marine-blue)
}
#Step4 .plan-Summary h3{
    font-size: 16px;
}
#Step4 .plan-Summary .summary-price{
    font-weight: bold;
}
#Step4 .plan-Summary a{
    color: var(--Cool-gray);
    font-weight: normal !important;
    text-decoration: underline;
    font-size: 14px;
}
#Step4 .plan-Summary a:hover{
    cursor: pointer;
}
#Step4 .services{
    display: inline-grid;
    row-gap: 0.5rem;
    width: 100%;
    padding: 1rem 0;
}
#Step4 .plan-Summary, .service-Container, #selectedSummaryPrice {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#Step4 #selectedSummaryPrice{
    padding: 1rem;
}
#Step4 #selectedSummaryPrice> p:nth-of-type(1){
    color: var(--Cool-gray);
}
#Step4 #selectedSummaryPrice> p:nth-of-type(2){
    color: var(--Purplish-blue);
    font-weight: bold;
    font-size: 18px;
}
#Step4 .service-Container{
    font-weight: normal;
}
#Step4 .service-Container > p:not(.summary-price){
    color: var(--Cool-gray);
    font-size: 14px;
}
#Step4 .summary-price{
    color: var(--Marine-blue);
    font-size: 13px;
}
#Step5 > .inputs{
    display: flex ;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
#Step5 > .inputs > img {
    max-width: 60px;
    margin: 0 auto;
}
#Step5 > .inputs > p {
    font-size: 16px !important;
}
@media (width > 900px){
    .multi-form{
        /* max-width: fit-content; */
        min-width: calc(var(--desktop-image-height) + var(--desktop-image-width));
        display: flex;
        flex-direction: row;
        background-image: url(./assets/images/bg-sidebar-desktop.svg);
        height: var(--desktop-image-height);
        background-color: var(--White);
        margin: 1rem auto;
        border-radius: 10px;
    }
    .all-forms{
        width: calc(var(--desktop-image-height));
        display: flex;
        flex-direction: row;
        overflow: hidden;
    }
    form{
        min-width: calc(var(--desktop-image-height));
    }
    .inputs{
        height: 100%;
    }
    .sidebar {
        min-width: var(--desktop-image-width);
        display: grid;
        grid-template-columns: min-content 1fr;
        grid-template-rows: repeat(4,min-content);
        padding: 3rem 0 0 3rem;
        row-gap: 2rem;
        align-items: self-start;
        justify-content: start;
    }
    .step-name {
        display: block;
    }
    .navigation{
        bottom: 6rem;
        background-color: none;
        padding-right: 2.25rem;
    }
    #Step2 .inputs {
        display: grid;
        grid-template-areas: 
        "a a a"
        "b b b"
        "c d e"
        "f f f";
        grid-template-rows: min-content min-content min-content;
        grid-template-columns: repeat(3, 150px);
        column-gap: 1rem;
    }
    #Step2 .inputs label img{
        width: 3rem;
        margin-bottom: 3rem;
    }
    #Step2 .inputs label:not(.time-plan label){
        height: min-content;
        display: grid;
        grid-template-areas: 
        "a"
        "b"
        "c"
        "d";
        grid-template-columns: max-content;
    }
}






.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}